.home-page {
    height: 100%;
    width: 90%;
    max-width: 100%;
    margin: 0 auto;
}

main {
    background-color: #a1c3c7;
    height: 100vh;
    margin-top: 75px;
}

.section-presentation {
    display: flex;
    justify-content: space-around;
    margin: auto ;
    align-items: center;
    color: #fff;
    padding: 0 50px 0 50px;
}

.section-presentation div {
    max-width: 525px;
    margin: 100px 0;
}

.section-presentation h2 {
    font-size: 80px;
    margin-bottom: 25px;
}

.section-presentation p {
    font-size: 40px;
    margin-bottom: 10px;
}

.section-presentation button {
    background-color: #5538c8;
    border: none;
    border-radius: 250px;
    padding: 20px 40px;
    color: #fff;
    font-size: 22px;
    margin: 25px 0;
    transition: 0.2s;
}

.section-presentation button:hover{
    background-color: #6244db;
}

.section-presentation div img {
    width: 575px;
}

/*ABOUT*/

.section-about {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    justify-content: center;
}

.section-about h2 {
    color: #5538c8;
    font-size: 65px;
    font-weight: bold;
    margin-left: 150px;
    margin-bottom: 25px;
}

.section-about div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 50px;
}

.section-about img {
    margin-right: 50px;
}

.section-about div p {
    font-size: 20px;
    width: 425px;
    font-weight: 300;
    letter-spacing: 0.5px;
    margin-left: 50px;
}

/*METHOD*/

.section-method {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 150px;
}

.section-method h2 {
    color: #5538c8;
    margin-bottom: 25px;
    font-size: 50px;
}

.section-method .div-methods{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    background-color: #fff;
    padding: 75px 150px;
}

.section-method .div-methods div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 275px;
}

.section-method .div-methods div h3 {
    color: #5538c8;
    font-size: 25px;
    margin-bottom: 10px;
}

.section-method .div-methods div p {
    letter-spacing: 0.5px;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}

.section-method button {
    background-color: #fd8369;
    border: none;
    border-radius: 250px;
    padding: 20px 40px;
    color: #fff;
    font-size: 22px;
    margin: 50px 0;
    transition: 0.2s;
}

.section-method button:hover {
    background-color: #f8957e;
}
